<template>
  <v-container class="kw-flex-col kw-flex-main">
    <v-container class="kw-flex-col kw-flex-main">
      <v-list>
        <v-list-item v-for="list in myLists" v-bind:key="list.id">
          <v-row no-gutters>
            <v-col cols="10" @click="showTasks(list.id)">
              {{ list.title }}
            </v-col>
            <v-col cols="1">
              <v-btn
                class="show-tasks-btn"
                @click="showTasks(list.id)"
                icon
                title="View Tasks"
              >
                <v-icon>mdi-format-list-checks</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="1">
              <v-btn
                class="delete-list-button"
                @click="handleDelete(list.id)"
                icon
                color="red"
                title="Delete List"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
      </v-list>
    </v-container>
    <div>
      <v-btn id="add-list-btn" @click="onAddList" title="Add List" block>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
    <AddListDialog
      v-if="adding"
      :visible="true"
      @onAdd="onAdd"
      @onCancel="adding = false"
    />
    <DeleteListDialog
      v-if="deleting"
      :visible="true"
      :list="selectedList"
      @onDelete="onDelete"
      @onCancel="deleting = false"
    />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import utils from "../modules/utils";
import ListData from "../interfaces/ListData";
import AddListDialog from "../components/AddListDialog.vue";
import DeleteListDialog from "../components/DeleteListDialog.vue";

@Component({
  components: {
    DeleteListDialog,
    AddListDialog,
  },
})
export default class MyLists extends Vue {
  myLists: ListData[] = [];
  adding = false;
  deleting = false;
  selectedList:ListData | null | undefined = null;
  mounted(): void {
    const listsFromStorage = localStorage.getItem("lists");
    if (listsFromStorage) {
      this.myLists = JSON.parse(listsFromStorage) as ListData[];
    }
  }
  saveLists(): void {
    localStorage.setItem("lists", JSON.stringify(this.myLists));
  }
  onAddList(): void {
    this.adding = true;
  }
  onAdd(title: string): void {
    this.myLists.push({
      id: utils.getUUID(),
      title: title,
      tasks: [],
    });
    this.saveLists();
    this.adding = false;
  }
  handleDelete(listId: string): void {
    this.selectedList = this.myLists.find((list) => list.id === listId);
    if (this.selectedList) {
      this.deleting = true;
    }
  }
  onDelete(): void {
    const idx = this.myLists.findIndex((i) => i.id === this.selectedList?.id);
    this.myLists.splice(idx, 1);
    this.saveLists();
  }
  showTasks(listId: string): void {
    this.$router.push("/mylists/" + listId);
  }
}
</script>

<style>
</style>