<template>
  <v-container class="kw-flex-col kw-flex-main">
    <div>
      <v-row align="center">
        <v-col cols="1">
          <v-btn icon @click="back">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="11">
          <div contenteditable @input="onListTitleChange">
            {{ myList.title }}
          </div>
        </v-col>
      </v-row>
    </div>
    <v-container class="kw-flex-col kw-flex-main">
      <v-list>
        <v-list-item v-for="task in myList.tasks" :key="task.id">
          <v-row align="center" no-gutters>
            <v-col cols="1">
              <v-checkbox
                type="checkbox"
                v-model="task.complete"
                @change="saveLists"
              />
            </v-col>
            <v-col cols="10">
              <v-text-field
                type="text"
                v-model="task.title"
                @change="onTaskTitleChange"
              />
            </v-col>
            <v-col cols="1">
              <v-btn icon color="red" @click="onDelete(task.id)">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
      </v-list>
    </v-container>
    <div>
      <v-btn @click="addTask" block>Add Task</v-btn>
    </div>
  </v-container>
</template>

<script lang="ts">
import utils from "@/modules/utils";
import { Component, Prop, Vue } from "vue-property-decorator";
import ListData from "../interfaces/ListData";
@Component
export default class MyTasks extends Vue {
  @Prop({ type: String }) readonly id!: string;
  myLists: ListData[] = [];
  myList: ListData = {} as ListData;
  mounted(): void {
    const data = localStorage.getItem("lists");
    if (data) {
      this.myLists = JSON.parse(data) as ListData[];
      const tarList = this.myLists.find((l) => l.id === this.id);
      if (tarList) {
        this.myList = tarList;
      }
    }
  }
  back(): void {
    this.$router.push("/");
  }
  onListTitleChange(evt: Event): void {
    const target: HTMLInputElement = evt.target as HTMLInputElement;
    this.myList.title = target.innerText;
    const tarList = this.myLists.find((l) => l.id === this.id);
    if (tarList) {
      tarList.title = this.myList.title;
      this.saveLists();
    }
  }
  onTaskTitleChange(): void {
    const tarList = this.myLists.find((l) => l.id === this.id);
    if (tarList) {
      tarList.tasks = this.myList.tasks;
      this.saveLists();
    }
  }
  saveLists(): void {
    localStorage.setItem("lists", JSON.stringify(this.myLists));
  }
  onDelete(taskId: string): void {
    const idx = this.myList.tasks.findIndex((t) => t.id === taskId);
    this.myList.tasks.splice(idx, 1);
    this.saveLists();
  }
  addTask(): void {
    this.myList.tasks.push({
      id: utils.getUUID(),
      title: "",
      complete: false,
    });
    this.saveLists();
  }
}
</script>

<style>
</style>