<template>
    <v-dialog v-model="adding" width="500">
      <v-card>
        <v-card-title> Add List </v-card-title>

        <v-card-text>
          <v-text-field v-model="newTitle" label="List Name"></v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn text @click="onCancel">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="onAdd"> Add </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class AddListDialog extends Vue{
    @Prop() visible = true;
    newTitle = '';
    adding = false;
    mounted():void {
        this.adding = this.visible;
    }
    onAdd(): void {
        this.$emit('onAdd', this.newTitle);
        this.adding = false;
    }
    onCancel(): void {
        this.$emit('onCancel');
        this.adding = false;
    }


}
</script>

<style>

</style>