<template>
    <v-dialog v-model="deleting" width="500">
      <v-card>
        <v-card-title> Delete {{list.title}} </v-card-title>

        <v-card-text>
            Delete {{list.title}}?
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn text @click="onCancel">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="onDelete"> Delete </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ListData from "@/interfaces/ListData";
@Component
export default class DeleteListDialog extends Vue {
    @Prop() list!: ListData;
    @Prop() visible = true;
    deleting = false;
    mounted(): void {
        this.deleting = this.visible;
    }
    onDelete(): void {
        this.$emit('onDelete');
        this.deleting = false;
    }
    onCancel(): void {
        this.$emit('onCancel');
        this.deleting = false;
    }

}
</script>

<style>

</style>