.v-application {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.v-application--wrap {
    min-height: 0;
    height: 100vh;
}

.v-application--wrap,
.v-main__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.v-main__wrap {
    min-height: 0;
}

.kw-flex-col {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.kw-flex-main {
    flex: 1;
    overflow-y: auto;
}