<template>
  <v-app class="kw-flex-col kw-flex-main">
    <v-app-bar app color="primary" dark>
      My Lists
    </v-app-bar>
    <v-main class="kw-flex-col kw-flex-main">
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",

  data: () => ({
    //
  }),
});
</script>
